.advantages-block {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 20px;
}

.advantages-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--color-green);
}

.advantages-title::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: var(--color-orange);
  margin: 5px auto 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
  justify-content: space-between;
}


.advantage-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: transparent;
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}

.advantage-line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: var(--color-orange);
  transition: all 0.4s ease;
  z-index: 0;
}

.advantage-item.hovered .advantage-line {
  width: 100%;
}

.advantage-item.hovered {
  background-color: var(--color-orange);
  border-radius: 12px;
}

.advantage-icon {
  width: 48px;
  height: 48px;
  margin-right: 20px;
  z-index: 1;
}

.advantage-text {
  z-index: 1;
  color: var(--color-green);
}

.advantage-item.hovered .advantage-text h4,
.advantage-item.hovered .advantage-text p
 {
  color: white;
}

.advantage-text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
  font-variant: small-caps;
}

.advantage-text p {
  font-size: 14px;
  color: var(--color-gray);
}

@media (max-width: 768px) {

  /* Общий контейнер */
  .advantages-block {
    padding: 20px 40px;
  }

  .advantages-title::after {
    width: 160px;
  }

  /* Сетка — превращаем в одну колонку */
  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  /* Элемент преимущества */
  .advantage-item {
    padding: 16px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  /* Иконка */
  .advantage-icon {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }

  /* Текст */
  .advantage-text p, .advantage-text h4  {
    text-align: left;
    margin-left: 30px;
  }
}

