.home {
  position: relative;
}

.hero-wrapper {
  position: relative;
  z-index: 5;
}

.content-wrapper {
  position: relative;
  z-index: 5;
  max-width: 1400px;
  margin: 0 auto;
  padding:20px;
}

.advantages-wrapper {
  position: relative;
  background-color: var(--color-brown);
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  top: -70px;
  overflow: hidden;
}

.pricing-wrapper {
  position: relative;
  width: 100%;
  overflow: visible;
}

.process-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

@media (max-width: 768px) {

  .process-wrapper {
    padding: 20px;
  }}


