.home {
  position: relative;
}

.hero-wrapper {
  position: relative;
  z-index: 5;
}

.content-wrapper {
  position: relative;
  z-index: 5;
  max-width: 1400px;
  margin: 0 auto;
  padding:20px;
}

.buyer-banner-wrapper {
  position: relative;
  background-color: var(--color-blue-light);
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  top: -70px;
  overflow: hidden;
}

.services-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.services-bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background-image: url("../assets/services-left.svg"), url("../assets/services-right.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: -100px 30px, calc(100% + 40px) 10%;
  background-size: auto 110%, auto 100%;
}

.category-wrapper {
  background-image: url("../assets/category-bg.png");
  background-size:100% 80%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.process-advantages-wrapper {
  background-image: url("../assets/process-left.png"), url("../assets/process-right.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: auto 110%, auto 100%;
  background-attachment: fixed;
  z-index: 10;
}

.partners-wrapper {
  background-color: var(--color-blue-light);
}