.form-success {
  background: white;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
  padding: 40px;
  position: relative;
}

.form-success h2 {
font-size: 30px;
  text-transform: uppercase;
  color: var(--color-blue-dark);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 3px solid var(--color-orange);
  width: 15%;
  margin: auto;
}

.form-success p {
  color: black;
  text-align: center;
  font-size: 24px;
}

.form-success-hints p {
    font-size: 14px;
  margin-bottom: 8px;
  color: var(--color-blue-dark);
  text-align: left;
}

.form-success-hints ul {
  list-style: disc;
  padding-left: 20px;
  margin: 0;
}

.form-success-hints li {
    color: var(--color-gray);
  font-size: 14px;
  margin-bottom: 3px;
}
