:root {
  --font-main: "Raleway", sans-serif, system-ui;

  --color-gray2: #adadad;
  --color-gray: #737373;
  --color-dark-gray: #3c3c3c;
  --color-blue-gray: #bec4ff50;
  --color-orange: #ffa800;
  --color-dorange: #b47904;
  --color-gold:#d79c0d;
  --color-gold-dark:#b47904;
  --color-blue-light: #13a3dc;
  --color-blue-dark: #131f76;
  --color-green: #2f8542;
  --color-green-dark:#1e582b;
  --color-brown:#9b4022;
  --color-brown-dark:#69220a;
  --color-brown-light:#e4cfaf;

  font-family: "Raleway", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--color-brown);
}

main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.btn {
  padding: 10px 48px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 200px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*button green*/
.btn-outline-green{
  background-color: transparent;
  backdrop-filter: blur(2px);
  color: var(--color-green);
  border: 2px solid var(--color-green);
}

.btn-outline-green:hover {
  background-color: var(--color-green);
  border: 2px solid var(--color-green);
  color: white;
}

.btn-solid-green {
  color: white;
  border: 2px solid var(--color-brown);
  background-color: var(--color-brown);
}

.btn-solid-green:hover {
  background-color: var(--color-brown-dark);
  border: 2px solid var(--color-brown-dark);
}

/*button dark blue*/
.btn-outline-dblue{
  background-color: transparent;
  color: var(--color-blue-dark);
  border: 2px solid var(--color-blue-dark);
}

.btn-outline-dblue:hover {
  background-color: var(--color-blue-dark);
  border: 2px solid var(--color-blue-dark);
  color: white;
}

.btn-solid-dblue {
  color: white;
  border: 2px solid var(--color-blue-dark);
  background-color: var(--color-blue-dark);
}

.btn-solid-dblue:hover {
  background-color: black;
  border: 2px solid black;
}

/*button blue*/
.btn-outline-blue{
  background-color: transparent;
  color: var(--color-blue-light);
  border: 2px solid var(--color-blue-light);
}

.btn-outline-blue:hover {
  background-color: var(--color-blue-light);
  border: 2px solid var(--color-blue-light);
  color: white;
}

.btn-solid-blue {
  color: white;
  border: 2px solid var(--color-blue-light);
  background-color: var(--color-blue-light);
}

.btn-solid-blue:hover {
  background-color: var(--color-blue-dark);
  border: 2px solid var(--color-blue-dark);
}

/*white blue*/ 
.btn-solid-white {
  color: var(--color-blue-light);
  border: 2px solid white;
  background-color: white;
}

.btn-solid-white:hover {
  background-color: var(--color-blue-light);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/*white green*/ 
.btn-solid-white-green {
  color: var(--color-green);
  border: 2px solid white;
  background-color: white;
}

.btn-solid-white-green:hover {
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/*orange*/
.btn-solid-orange {
  color: white;
  border: 2px solid var(--color-orange);
  background-color: var(--color-orange);
}

.btn-solid-orange:hover {
  background-color: var(--color-dorange);
  border: 2px solid var(--color-dorange);
  color: var(--color-blue-dark);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.form-message {
  margin: 10px;
  font-size: 16px;
  text-align: center;
}

span.form-message {
  font-size: 12px;
  text-align: center;
}

.error-top {
  margin-top: -30px;
}

.error-hero {
  text-align: left;
}

.form-message.success {
  color: green;
}

.form-message.error {
  color: red;
}

.error-placeholder {
  color: red;
}
.brown {
  color: var(--color-brown);
}

.small {
  font-variant: small-caps;
}

.bigger {
  font-size:large;
}

span.brown-bold {
  color: var(--color-brown);
  font-weight: 500;
}

span.gold-bold {
  color: var(--color-gold);
  font-weight: 500;
}

span.orange {
  color: var(--color-orange);
  font-weight: 900;
}

span.blue {
  color: var(--color-blue-light);
  font-weight: 900;
}
span.green {
  color: var(--color-green);
  font-weight: 900;
}

span.gray {
  color: var(--color-gray);
}

span.italic {
  font-style: italic;
}

span.underline {
  text-decoration: underline;
}

span.orange2 {
  color: var(--color-orange);
}

span.blue2 {
  color: var(--color-blue-light);
}

span.green2 {
  color: var(--color-green);
}

h2 {
  font-size: 28px;
}


@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Light.ttf") format("opentype");
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/AvenirNextLTPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
  .services-bg,
  .category-wrapper,
  .process-advantages-wrapper {
    background-image: none !important;
  }

  .home,
  .home * {
    text-align: center;
  }

  .content-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .process-advantages-wrapper {
    background-attachment: scroll;
    padding: 20px 0;
  }
  .partners-wrapper {
    padding: 40px 0;
  }
}



