.footer {
  background: linear-gradient(
    160deg,
    rgba(240, 230, 227, 0.08) 0%,
    rgba(236, 229, 223, 0.15) 20%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  ),
  #f5f2ee;
  padding: 20px;
  color: #6d6d6d;
  overflow: hidden;
}

.footer-inner {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  
}

/* LEFT */

.footer-left {
  width: 400px;
}

.footer-top-text {
  font-size: 14px;
  font-variant: small-caps;
  color: var(--color-brown);
  white-space: pre-line;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.footer-col h4 {
  font-size: 14px;
  color: var(--color-brown);
  margin-bottom: 10px;
}

.footer-col a {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #6d6d6d;
  transition: 0.2s;
}

.footer-col a:hover {
  color: var(--color-brown);
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}

.social-icon {
  max-width: 30px;
  max-height: 30px;
  align-items: center;
}

.social-icon img {
  height: 30px;
}

.social-icon.facebook img,  .social-icon.facebook a{
  margin: auto;
  height: 25px;
}

/* CENTER */

.footer-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-logo {
  height: 120px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid var(--color-brown);
  background: transparent;
  color: var(--color-brown);
   padding: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--font-main);
  cursor: pointer;
}

.btn-solid {
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--font-main);
  border: none;
  cursor: pointer;
  background: var(--color-brown);
  color: white;
}

.btn-solid:hover {
  background: var(--color-brown-dark);
}

.btn-outline:hover {
  background: var(--color-brown-light);
  border: 1px solid var(--color-brown-light);
  color: white;
}

/* RIGHT */

.footer-right {
  position: relative;
  margin: auto 0;
}

.footer-map {
  max-width: 400px;
  opacity: 0.12;
}

.footer-overlay {
  position: absolute;
  top: 20%;
  right: 10%;
}

.footer-overlay h4 {
  color: var(--color-brown);
  margin-bottom: 10px;
}

.footer-input {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.footer-input input {
  padding: 10px;
  border: none;
  outline: none;
}

.footer-input button {
  background: var(--color-brown);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

/* BOTTOM */

.footer-bottom {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}

@media (max-width: 768px) {

  .footer-inner {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /* LEFT */
  .footer-left {
    width: 100%;
    text-align: center;
  }

  .footer-columns {
    flex-direction: row;
    gap: 0;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
  }

  .footer-col a {
    font-size: 14px;
  }

  .socials {
    justify-content: center;
    gap: 15px;
  }

  /* CENTER */
  .footer-center {
    order: -1;
  }

  .footer-logo {
    height: 80px;
    margin-bottom: 15px;
  }

  .btn-outline, .btn-solid {
    padding: 8px 15px;
    font-size: 13px;
    margin: 5px 0;
  }

  /* RIGHT */
  .footer-right {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .footer-map {
    max-width: 100%;
    opacity: 0.2;
    margin-bottom: 15px;
  }

  .footer-overlay {
    position: absolute;
    width: max-content;
    left: 25%;
    top:10%;
  }

  .footer-input {
    flex-direction: column;
  }

  .footer-input input {
    width: 100%;
  }

  .footer-input button {
    width: 100%;
  }

  .footer-bottom {
    font-size: 11px;
  }
}